In [134]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame 
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import re
import seaborn as sns
from scipy import stats
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from time import strptime
%matplotlib inline

In [135]:
df_1 = pd.read_csv('/Users/WilliamStevens/Documents/deplorable_snowflake/ds/static/data/israel/streamGraphData.csv')

In [136]:
#print(df_1.head())
#print(df_1.shape)
#print(df_1.dtypes)
#print(df_1.info())
print(df_1.describe(include=['object']))

           TERRORIST FATALITIES INJURED COUNTRY        ATTACK TYPE
count           1718       1718    1718    1718               1718
unique             9          9      11       2                 16
top     Palestinians          0       0  Israel  Bombing/Explosion
freq             676        924     906     961                754

In [137]:
df_2 = df_1.drop(['COUNTRY', 'ATTACK TYPE'], axis=1)

In [138]:
print(df_2.head())

                 TERRORIST  DATE  INCIDENTS FATALITIES INJURED
0  Al-Aqsa Martyrs Brigade  2000          2          1       1
1  Al-Aqsa Martyrs Brigade  2001          1          1       0
2  Al-Aqsa Martyrs Brigade  2001          2          1       1
3  Al-Aqsa Martyrs Brigade  2001          1          1       0
4  Al-Aqsa Martyrs Brigade  2001          5          3       2

In [139]:
def clean(row):
    incidents = row['INCIDENTS']
    fatalities = row['FATALITIES']
    injured = row['INJURED']
    incidents = str(incidents).replace('Unknown', '')
    fatalities = str(fatalities).replace('Unknown', '')
    injured = str(injured).replace('Unknown', '')
    
    return pd.Series([incidents, fatalities, injured])

In [140]:
df_2[['INCIDENTS', 'FATALITIES', 'INJURED']] = df_2.apply(clean, axis=1)

In [141]:
print(df_2.head())

                 TERRORIST  DATE INCIDENTS FATALITIES INJURED
0  Al-Aqsa Martyrs Brigade  2000         2          1       1
1  Al-Aqsa Martyrs Brigade  2001         1          1       0
2  Al-Aqsa Martyrs Brigade  2001         2          1       1
3  Al-Aqsa Martyrs Brigade  2001         1          1       0
4  Al-Aqsa Martyrs Brigade  2001         5          3       2

In [142]:
df_2 = df_2.drop(['INCIDENTS'], axis=1)

In [143]:
print(df_2.head())

                 TERRORIST  DATE FATALITIES INJURED
0  Al-Aqsa Martyrs Brigade  2000          1       1
1  Al-Aqsa Martyrs Brigade  2001          1       0
2  Al-Aqsa Martyrs Brigade  2001          1       1
3  Al-Aqsa Martyrs Brigade  2001          1       0
4  Al-Aqsa Martyrs Brigade  2001          3       2

In [144]:
df_3 = df_2.groupby(by=['TERRORIST','DATE']).agg({'FATALITIES': 'sum',
                              'INJURED': 'sum'})

In [145]:
print(df_3.head())

                                          FATALITIES                 INJURED
TERRORIST               DATE
Al-Aqsa Martyrs Brigade 2000                       1                       1
                        2001           1113111110100           0102101100010
                        2002  1441133111111111222142  1200312241010052014230
                        2003             01114011001             23003200040
                        2004                    0101                    2003

In [146]:
df_3.to_csv('streamGraphDataNew.csv')

In [ ]:
def clean_2(row):
    fatalities = row['FATALITIES']
    injured = row['INJURED']
    
    fatalities = pd.to_numeric(df_2['FATALITIES'])
    injured = pd.to_numeric(df_2['INJURED'])
    
    return pd.Series([fatalities, injured])

In [ ]:
df_2[['FATALITIES', 'INJURED']] = df_2.apply(clean_2, axis=1)

In [59]:
df_2.groupby(['TERRORIST', 'DATE']).size()

TERRORIST                                             DATE
Al-Aqsa Martyrs Brigade                               2000     1
                                                      2001    13
                                                      2002    23
                                                      2003    11
                                                      2004     4
                                                      2005     5
                                                      2006    11
                                                      2007    11
                                                      2008    11
                                                      2009     1
                                                      2010     1
                                                      2013     4
                                                      2014     1
                                                      2015     4
                                                      2016     2
Hamas (Islamic Resistance Movement)                   1989     2
                                                      1990     2
                                                      1991     2
                                                      1992     9
                                                      1994    24
                                                      1995     2
                                                      1998     3
                                                      1999     2
                                                      2000     1
                                                      2001    14
                                                      2002    11
                                                      2003    25
                                                      2004     5
                                                      2005    15
                                                      2006     9
                                                              ..
Palestinians                                          1991    72
                                                      1992    84
                                                      1994    42
                                                      1995     7
                                                      1997     1
                                                      2001    14
                                                      2002     7
Popular Front for the Liberation of Palestine (PFLP)  1974     1
                                                      1976     1
                                                      1979     2
                                                      1980     3
                                                      1981     1
                                                      1982     2
                                                      1984     3
                                                      1986     1
                                                      1987     2
                                                      1989     2
                                                      1990     3
                                                      1992     2
                                                      1994     1
                                                      1996     1
                                                      2001    10
                                                      2002     5
                                                      2004     1
                                                      2005     4
                                                      2007     2
                                                      2008    18
                                                      2009     1
                                                      2011     1
                                                      2012     2
Length: 157, dtype: int64

In [36]:
df_3 = df_2.groupby(by='DATE').agg({'INCIDENTS': 'sum',
                              'FATALITIES': 'sum',
                              'INJURED': 'sum'})

In [37]:
print(df_3.head())

                                             INCIDENTS        FATALITIES  \
DATE
1972        0.00.00.00.00.00.00.00.00.00.00.00.00.00.0    00000000000000
1974                                         0.30.20.7         0.10.10.7
1976                                               0.8                 0
1977                                      0.10.10.10.0        0.10.10.10
1978  0.60.10.20.00.00.70.70.00.20.00.00.00.00.00.00.0  00.1000000000000

                      INJURED
DATE
1972           00000000000000
1974                  0.20.10
1976                      0.8
1977                     0000
1978  0.600.200.70.700.200000